* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.3s ease-in-out;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000000;
}

.content {
  border: 1px solid #595959;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  width: 400px;
  height: 650px;
  padding: 20px;
  background-color: #000000;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile h2 {
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;
}

.profile small {
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.profile p {
  word-break: break-all;
  text-align: center;
  color: #ffffff;
  text-align: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.post {
  width: calc(33.333% - 10px);
  margin-bottom: 15px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post img {
  width: 100%;  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.post:hover {
  scale: 1.1;
}

button,
input[type="submit"] {
  padding: 10px 15px;
  border: none;
  background-color: #000000;
  color: rgb(255, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
}

button:hover,
input[type="submit"]:hover {
  background-color: #ffffff;
}

form {
  width: 100%;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100px;
}

#picture, #preview{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    padding: 5px;
}

#preview{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#picture{
    margin-top: 40px;
    border: 1px solid white;
}

input[type = "file"]{
    display: none;
}

#addFoto{
    display: flex;
    flex-direction: column;
}

form{
    text-align: center;
}